root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,cc,cpp,h,hpp}]
indent_style = space
indent_size = 4

[{Makefile,makefile,**.mk}]
indent_style = tab

[*.{js,jsx,ts,tsx,vue}]
indent_style = space
indent_size = 2
quote_type = single

[*.mips]
indent_style = tab
indent_size = 8
