# Ignore everything
*

# But not the .gitignore file itself
!.gitignore

# Allow folders to be included, so we can search for src folders inside them
!*/

# Ignore everything inside src directories
**/src/*

# Except for Clojure (.clj) files inside any src directory
!**/src/**/*.clj
